<!doctype html>
<html>
<head>
    <title><%=id%>번 글 삭제</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>게시글 삭제</h2>
        </div>
        <form action="/api/delete_post" method="post">
            <div class="form-group">
                <label for="writer">비밀번호</label>
                <input type="text" class="form-control" name="password" placeholder="0-9 4자리 이하 비밀번호를 입력하세요.">
            </div>
            <input type="hidden" name="id" value="<%=id%>">
            <button type="submit" class="btn btn-danger btn-block">삭제</button>
        </form><br>
        <button type="button" class="btn btn-info btn-lg" onClick="history.back();">이전</button>&nbsp;
        <button type="button" class="btn btn-info btn-lg" onClick="location.href='/'">게시판 보러가기</button>&nbsp;
    </div>
</body>