<!doctype html>
<html>
<head>
    <title><%=id%>번 글 수정</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>게시글 수정</h2>
        </div>
        <form action="/api/update_post" method="POST">
            <input type="hidden" name="id" value="<%=id%>">
            <div class="form-group">
                <label for="title">새로운 제목</label>
                <input type="text" class="form-control" name="title" placeholder="새로운 제목을 입력하세요.">
            </div>
            <div class="form-group">
                <label for=content">새로운 내용</label>
                <textarea class="form-control" name="content" rows="3" placeholder="새로운 내용을 입력하세요."></textarea>
            </div>
            <div class="form-group">
                <label for="password">비밀번호 확인</label>
                <input type="text" class="form-control" name="password" placeholder="0-9 4자리 이하 비밀번호를 입력하세요.">
            </div>
            <button type="submit" class="btn btn-success btn-block">수정</button>
        </form><br>
        <button type="button" class="btn btn-info btn-lg" onClick="history.back();">이전</button>&nbsp;
        <button type="button" class="btn btn-info btn-lg" onClick="location.href='/'">게시판 보러가기</button>&nbsp;
    </div>
</body>